<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main To Do List</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col">
          <div class="jumbotron">
          <h2>Justice for Us</h2>
          Hey there, my name is Aileen. I work at the ACLU as a junior web developer. I recently met Davina at the Allied Media Conference, an event that brings together activists from all over the United States to share tools and tactics for transforming our communities through media based organizing. After meeting Davina, I wanted to connect with her to work on similar projects we are working on and tap into her list of contacts. The challenge of our schedules, locations, and resources led us to create Justice for Us - a microblog.
          <hr>
          <form id="new_to_do_list">
           <div class="form-group">
              <textarea class="form-control" id="task-name" placeholder="Type your post here" rows="5"></textarea>

            <div class="form-group">
              <input type="submit" id="Savebutton" class="btn btn-success" value="Save Post">
            <br><br>
          </form>
          <hr>
        
        <h4>Blog Post</h4>
        <ul id="task-list">
        <!--   <li class="task">Clean Up</li>
          <li class="task">Read</li>
          <li class="task">Study Programming</li>
          <li class="task">Go Shopping</li>
          <li class="task">Watch anime</li>
          <li class="task">Listen to music</li> -->

        </ul>

        <!-- Button trigger modal -->
        <button type="button" id="hover-button" class="btn btn-primary btn-md">
          Make a Comment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        
        </div> 
        </div> 
        </div>
        </div>
      </div>
      </div>
    </div>

<!-- jquery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  
  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>   
  
  <!-- custom script -->
  <script type="text/javascript" src="script.js"></script>

    <!-- underscore template -->
  <script type="text/template" id="task-list-template">
    <div class="task">
      <p>
        <%= todo %> - <%= description %>
      </p>
      <hr>
    </div>   
  </script>
 
</body>

</html>