.done {
  line-color = red;
  text-decoration: line-through;
}
h2 {
    font-size: 38px;
}
h5 {
    font-size: 18px;
}
article {
    color: purple;
    text-align: left;
    max-width: 500px;
    padding: 2px;
    margin: 0 auto;
}

body {
  background-image: url("http://static.tumblr.com/fftf9xi/K0Hl5z390/bg_wood.jpg");
  color: black;
} 